pkgbase = clangsharp-pinvoke-generator
	pkgdesc = A tool that takes a C/C++ header files as input and generates C# interop code
	pkgver = 20.1.2.1
	pkgrel = 1
	url = https://github.com/dotnet/ClangSharp
	arch = x86_64
	license = MIT
	makedepends = dotnet-sdk-8.0
	makedepends = cmake
	depends = dotnet-runtime-8.0
	depends = llvm
	depends = llvm-libs
	depends = clang
	options = !strip
	source = clangsharp-pinvoke-generator-20.1.2.1.tar.gz::https://github.com/dotnet/ClangSharp/archive/refs/tags/v20.1.2.1.tar.gz
	source = 001-cmake-version-fix.patch
	source = 002-arch-clang-cpp-libs.patch
	sha256sums = 9abc502a4d53e82b57606d6f89e027ed61e8e1aa637e3b95b1840340913c2a3c
	sha256sums = cb402c2415a4a0fbe8dc89d33f2febbfd6a0f0be67e4e40608dda37d8f64af20
	sha256sums = 3b2d6e5ad0b8581247de3139702067e7c7a4e76ad2c6316a50101fce5d0e1ecf

pkgname = clangsharp-pinvoke-generator
